/*
grid andre
.container{
    max-width:1200px;
    margin: 0 auto;
    &::after, &::before{
        content:'';
        display:table;
        clear:both;
    }
}
.grid-3{
    width:calc(25%-20px);
    margin-left:10px;
    float:left;
}
*/ 
// variaveis
$cols:12;
$gutter:20px;
$l-device:1200px;
$m-device:760px;
$s-device:480px;

// box-sizing
*,*::after, *::before{box-sizing: border-box;}

// midias queries
@mixin d($size){
    @if $size == l{
        @media screen and (min-width: $l-device){@content;}
    }@else if $size == m{
        @media screen and (min-width: $m-device) and (max-width: $l-device - 1){@content;}
    }@else if $size == s{
        @media screen and (max-width: $m-device - 1) {@content;} 
    }
}
// função do grid
@function grid ($col, $offset:false){
    $width: $col / $cols * 100 + "%";
    $result: calc(#{$width} - #{$gutter});
    @if $offset == offset{

        $gutter: $gutter /2;
        $result: calc(#{$width} + #{$gutter});

    }
    @return $result;

}//fim da função de grid
div{
    width: grid(6);
}
// parei em 6,19

